* {
    margin: 0;
}

body {
    background-color: black;
}

a {
    color: white;
}

a:hover {
    color: red;
}

.App {
    background-color: #23252C;
    height: 100%;
    width: 40%;
    margin: 30px auto;
    border-radius: 10px
}

.picture {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 400px;
    width: 400px;
    margin: auto
}

.picture > img {
    margin-top: 10px;
    border: 2px black solid;
    border-radius: 5px;
}

.name-heading {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
    color: white
}

.headings > h2 {
    font-size: 18px;
}

.headings > h3 {
    font-size: 15px;
    margin-bottom: 15px;
}

.email-button {
    font-weight: 700;
    padding: 10px;
    width: 20%;
    display: flex;
    justify-content: center;
    margin: auto;
    border: 1px transparent;
    border-radius: 5px;
}

.email-button:hover {
    opacity: .5;
}


.about > h2  {
    color: white;
    text-align: center;
    padding-top : 25px
}

.about > p {
    color: white;
    max-width: 60%;
    margin: auto;
    text-align: center;
    padding: 5px
}

.footer  {  
    border-radius: 0 0 10px 10px;
    background-color: #161619;   
    display: flex;    
    justify-content: center;    
    margin-top: 20px;
    padding: 5%
}

.footer > a {
    margin-left: 25px;
    margin-right: 25px
   
}

.footer > a > img {
    width: 40px;
    height: 40px;
}